description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <title>{{$title}}</title>
        <meta charset="UTF-8">
        <meta name="_token" content="{!! csrf_token() !!}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/all.css') }}">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="background-div"></div>
    <!-- модалки на вход и регистрацию -->
        <!-- Модалка на вход -->
        <div id='login-modal' class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                <!-- Заголовок модального окна -->
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title text-black">Вход</h4>
                    </div>
                <!-- Основное содержимое модального окна -->
                    <div class="modal-body text-black">
                        <div class="container">
                            <div>
                                <span>У вас нет логина?</span> Пожалуйста,<a class='loginOnRegister' href='#'> заполните форму регистрации</a><hr>
                            </div>
                            <form class="form-signin form-log" role="form"  method="POST" action="{{ url('/login') }}">
<!--                            <h2 class="form-signin-heading">Заполните форму</h2>-->
                            <label>Login:</label>
                            <input type="text" class="form-control" name='login' placeholder="Email address or Phone"> <!-- required autofocus> -->
<!--                            <input type="phone" class="form-control" name='phone' placeholder="Phone">-->
                            <label>Password:</label>
                            <input type="password" class="form-control" name='password' placeholder="Password" required>
                           <!-- <label class="checkbox">
                                <input type="checkbox" value="remember-me"> Remember me
                            </label> -->
                            <button class="btn btn-lg btn-warning btn-block" type="submit">Вход</button>
                            <input type="hidden" name="_token" value="{{csrf_token()}}">
                            </form>
                        </div>
                     <!--   </div>
                     Футер модального окна -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- конец модалки -->
        <!-- Модалка на регистрацию -->
        <div id='register-modal' class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                <!-- Заголовок модального окна -->
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title text-black">Регистрация</h4>
                    </div>
                <!-- Основное содержимое модального окна -->
                    <div class="modal-body text-black">
                        <div class="container">
                            <form class="form-signin form-log" role="form"  method="POST"  action="{{ url('/register') }}">
                                <h2 class="form-signin-heading">Заполните форму</h2>
                                <small>Поле телефон можно оставить пустым если заполнено поле email и наоборот. Эти данные будут использоваться для входа на сайт. Остальные поля обязательны к заполнению</small>
                                <input class='form-control' name="name" type='text' placeholder="Имя" required autofocus>
                                <input class='form-control' name='phone' type='tel' placeholder="Номер моб. телефона">
                                <input class='form-control' name="email" type='email' placeholder="Email">
                                <input class='form-control' name='password' type='password' placeholder="Password" required>
                                <input class='form-control' name="password_confirmation" type='password' placeholder="Confirm password" required>
                                <input type="hidden" name="_token" value="{{csrf_token()}}">
                                <button class="btn btn-warning btn-block" type='submit'>Зарегистрироваться</button>
                            </form>
                        </div>
                     <!--   </div>
                     Футер модального окна -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- конец модалки -->
    <!-- модалки на вход и регистрацию -.-.- конец модалок -->
        <div class='main'>
            <!--Контент Шапки-->
            <div class="head">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{ url('/') }}"><img class='logotype' src="{{asset('img/logotype.png')}}"></a>
                    </div>
                    <div class="col-sm-4 marg-l-45">
                        <div class="middle-of-header">
                            <i>{{ $sets['phone1'] }}</i>
                            <a href="{{ url('/backcall') }}">
                                <div class="feedback">
                                    <div class="feedback-text">Обратный звонок</div>
                                    <div class="feedback-t" style="border: 20px solid transparent;	border-right: 20px solid red;"></div>
                                </div>
                            </a>
                            <p><i>г. Новочеркасск</i></p>
                            <div>
                                <form>
                                    <input class="form-control opac-50" type="text" placeholder="Search not work">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="right-of-header">
                            <div class="log-in-out">
                                @if(Auth::check())
                                <a href="{{ url('/logout') }}">
                                    <div class="log-up-right"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> logout</div>
                                </a>
                                <a href="{{ url('/cabinet') }}">
                                    <div class='log-down-right'>cabinet <span class="glyphicon glyphicon-home" aria-hidden="true"></span></div>
                                </a>
                                @else
                                <div class="log-in" @click="openLoginWindow()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> login</div>
                                @endif
                            </div>
                            <a href="{{ url('/basket') }}">
                                <basket ref="basket"></basket>
                            </a>
                            @if(Auth::check())
                                @if(Auth::user()->isAdmin())
                                    <div>
                                        <a href="{{ url('/admin') }}"><button class="btn btn-warning opac-50">В админку</button></a>
                                    </div>
                                @endif
                            @endif
                        </div>
                    </div>
                </div>
                <ul class="menu">
                    <a class='b_1' href="{{ url('/') }}"><li>Главная</li></a>
                    <a class='b_2' href="{{ url('/oplata') }}"><li>Оплата</li></a>
                    <a class='b_3' href="{{ url('/dostavka') }}"><li>Доставка</li></a>
<!--                    <a class='b_4' href="{{ url('/working') }}"><li>Условия работы</li></a>-->
                    <a class='b_5' href="{{ url('/garant') }}"><li>Гарантии</li></a>
                    <a class='b_6' href="{{ url('/about') }}"><li>О нас</li></a>
                </ul>
            </div>
            <!--Слайдер-->
            <div class="slider-container" id="slider-container">
	           <div class="slider">
                        <div class="slide sl1">
                            <div class='sl img1'></div>
                            <span>{{$sets['slide1']}}</span>
                        </div>
                        <div class="slide sl2">
                            <div class='sl img2'></div>
                            <span>{{$sets['slide2']}}</span>
                        </div>
                        <div class="slide sl3">
                            <div class='sl img3'></div>
                            <span>{{$sets['slide3']}}</span>
                        </div>
                        <div class="slide sl4">
                            <div class='sl img4'></div>
                            <span>{{$sets['slide4']}}</span>
                        </div>
	           </div>
	           <div class="switch" id="prev"><span></span></div>
	           <div class="switch" id="next"><span></span></div>
            </div>
            <!--Конец слайдера-->
            <!--Конец шапки-->
            <!--Средина сайта-->
            <div class='middle'>
                <div class="content">
                    <div class="left">
                        @if(!empty(Session::get('message')))
<!--                            <div class='message'>{{Session::get('message')}}</div>-->
                            <div class='alert alert-with-margin alert-danger'>
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{Session::get('message')}}
                            </div>
                        @endif
                        @if (count($errors) > 0)
                            <div class='alert alert-with-margin alert-danger'>
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <ul>
                                    @foreach ($errors->all() as $error)
                                    <li>{{ $error }}</li>
                                    @endforeach
                                </ul>
                            </div>
                        @endif
                        <div class='line'></div>
                            @yield('left')
                    </div>
                    <div class="right">
                        @yield('right')
                    </div>
                </div>
            </div>
            <!--Конец середине-->
            <!--Подвал-->
            <div class="footer">
                <div class='foot_content'>
                    <div class='foot_box'>
                        <h4>Помощь по сайту</h4>
                        <ul>
                            <li>Карта сайта</li>
                            <li>Как заказать</li>
                            <li>Как оплатить</li>
                            <li>Личный кабинет</li>
                            <li>Скидки и акции</li>
                        </ul>
                    </div>
                    <div class='foot_box'>
                        <h4>Помощь по сайту</h4>
                        <ul>
                            <li>Карта сайта</li>
                            <li>Как заказать</li>
                            <li>Как оплатить</li>
                            <li>Личный кабинет</li>
                            <li>Скидки и акции</li>
                        </ul>
                    </div>
                    <div class='foot_box'>
                        <h4>Помощь по сайту</h4>
                        <ul>
                            <li>Карта сайта</li>
                            <li>Как заказать</li>
                            <li>Как оплатить</li>
                            <li>Личный кабинет</li>
                            <li>Скидки и акции</li>
                        </ul>
                    </div>
                    <div class='copyright'>© 2016 Цветочныйй салон «Эдельвейс»</div>
                </div>
                <div class='my_self'>Created Posunko Sergey</div>
            </div>
        </div>

    <!--Скрипты js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{asset('js/all.js')}}"></script>
    <script src="{{asset('js/vue/build.js')}}"></script>

    <script>
	$("#slider-container").sliderUi({
                delay: 7000,
		speed: 2000,
                controlShow: false,
		cssEasing: "cubic-bezier(0.285, 1.015, 0.165, 1.000)"
	});
	$("#caption-slide").sliderUi({
		caption: true
	});
    </script>
    </body>
</html>
